* {
  box-sizing: border-box;
}

html,
body {
  margin: auto;
  padding: 0;
  display: flex;
  flex-direction: row;
}
html canvas,
body canvas {
  margin: 12px;
  display: block;
}

.ui {
  display: flex;
  flex-direction: column;
  min-height: 450px;
  height: 100%;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}
.ui .palette,
.ui .tools,
.ui .frames {
  padding: 4px;
  background-color: #ccc;
  border-radius: 4px;
  margin: 4px;
  flex-wrap: wrap;
}
.ui .palette {
  display: grid;
  grid-template-columns: repeat(10, auto);
}
.ui .rules {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ccc;
  border-radius: 4px;
  margin: 4px;
  flex-wrap: wrap;
  padding: 20px;
}
.ui .rules .rule-grid {
  display: grid;
  grid-template-columns: repeat(3, 20px);
  grid-template-rows: repeat(3, 15px);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.ui .rules .rule-grid button:hover {
  background-color: #bbb;
}
.ui .rules .rule-divider {
  padding-top: 10px;
}
.ui button.mini {
  width: 20px;
  height: 15px;
  display: block;
  padding: 0;
  border-radius: 0;
  border: none;
  margin: 2px;
  box-sizing: border-box;
  line-height: 22px;
  text-align: center;
  background-size: contain;
}
.ui button.mini img {
  width: 20px;
  height: 15px;
}
.ui button.mid {
  width: 34px;
  height: 34px;
  padding: 0;
  border: 0px;
  border-radius: 4px;
  margin: 2px;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
}
.ui button.mid:active {
  background-color: rgb(225, 225, 40);
}
.ui button.mid.current {
  background-color: rgb(158, 185, 188);
}
.ui .sprite-grid {
  display: grid;
  grid-template-columns: repeat(23, 1fr);
  gap: 0px;
}
.ui .sprite-grid button {
  background-size: 20px 15px;
}
.ui .sprite-grid button:nth-child(1) {
  background-image: url("/assets/tiles/Block0.png");
}
.ui .sprite-grid button:nth-child(2) {
  background-image: url("/assets/tiles/Block1.png");
}
.ui .sprite-grid button:nth-child(3) {
  background-image: url("/assets/tiles/Block2.png");
}
.ui .sprite-grid button:nth-child(4) {
  background-image: url("/assets/tiles/Block3.png");
}
.ui .sprite-grid button:nth-child(5) {
  background-image: url("/assets/tiles/Block4.png");
}
.ui .sprite-grid button:nth-child(6) {
  background-image: url("/assets/tiles/Block5.png");
}
.ui .sprite-grid button:nth-child(7) {
  background-image: url("/assets/tiles/Block6.png");
}
.ui .sprite-grid button:nth-child(8) {
  background-image: url("/assets/tiles/Block7.png");
}
.ui .sprite-grid button:nth-child(9) {
  background-image: url("/assets/tiles/Block8.png");
}
.ui .sprite-grid button:nth-child(10) {
  background-image: url("/assets/tiles/Block9.png");
}
.ui .sprite-grid button:nth-child(11) {
  background-image: url("/assets/tiles/Block10.png");
}
.ui .sprite-grid button:nth-child(12) {
  background-image: url("/assets/tiles/Block11.png");
}
.ui .sprite-grid button:nth-child(13) {
  background-image: url("/assets/tiles/Block12.png");
}
.ui .sprite-grid button:nth-child(14) {
  background-image: url("/assets/tiles/Block13.png");
}
.ui .sprite-grid button:nth-child(15) {
  background-image: url("/assets/tiles/Block14.png");
}
.ui .sprite-grid button:nth-child(16) {
  background-image: url("/assets/tiles/Block15.png");
}
.ui .sprite-grid button:nth-child(17) {
  background-image: url("/assets/tiles/Block16.png");
}
.ui .sprite-grid button:nth-child(18) {
  background-image: url("/assets/tiles/Block17.png");
}
.ui .sprite-grid button:nth-child(19) {
  background-image: url("/assets/tiles/Block18.png");
}
.ui .sprite-grid button:nth-child(20) {
  background-image: url("/assets/tiles/Block19.png");
}
.ui .sprite-grid button:nth-child(21) {
  background-image: url("/assets/tiles/Block20.png");
}
.ui .sprite-grid button:nth-child(22) {
  background-image: url("/assets/tiles/Block21.png");
}
.ui .sprite-grid button:nth-child(23) {
  background-image: url("/assets/tiles/Block22.png");
}
.ui .sprite-grid button:nth-child(24) {
  background-image: url("/assets/tiles/Block23.png");
}
.ui .sprite-grid button:nth-child(25) {
  background-image: url("/assets/tiles/Block24.png");
}
.ui .sprite-grid button:nth-child(26) {
  background-image: url("/assets/tiles/Block25.png");
}
.ui .sprite-grid button:nth-child(27) {
  background-image: url("/assets/tiles/Block26.png");
}
.ui .sprite-grid button:nth-child(28) {
  background-image: url("/assets/tiles/Block27.png");
}
.ui .sprite-grid button:nth-child(29) {
  background-image: url("/assets/tiles/Block28.png");
}
.ui .sprite-grid button:nth-child(30) {
  background-image: url("/assets/tiles/Block29.png");
}
.ui .sprite-grid button:nth-child(31) {
  background-image: url("/assets/tiles/Block30.png");
}
.ui .sprite-grid button:nth-child(32) {
  background-image: url("/assets/tiles/Block31.png");
}
.ui .sprite-grid button:nth-child(33) {
  background-image: url("/assets/tiles/Block32.png");
}
.ui .sprite-grid button:nth-child(34) {
  background-image: url("/assets/tiles/Block33.png");
}
.ui .sprite-grid button:nth-child(35) {
  background-image: url("/assets/tiles/Block34.png");
}
.ui .sprite-grid button:nth-child(36) {
  background-image: url("/assets/tiles/Block35.png");
}
.ui .sprite-grid button:nth-child(37) {
  background-image: url("/assets/tiles/Block36.png");
}
.ui .sprite-grid button:nth-child(38) {
  background-image: url("/assets/tiles/Block37.png");
}
.ui .sprite-grid button:nth-child(39) {
  background-image: url("/assets/tiles/Block38.png");
}
.ui .sprite-grid button:nth-child(40) {
  background-image: url("/assets/tiles/Block39.png");
}
.ui .sprite-grid button:nth-child(41) {
  background-image: url("/assets/tiles/Block40.png");
}
.ui .sprite-grid button:nth-child(42) {
  background-image: url("/assets/tiles/Block41.png");
}
.ui .sprite-grid button:nth-child(43) {
  background-image: url("/assets/tiles/Block42.png");
}
.ui .sprite-grid button:nth-child(44) {
  background-image: url("/assets/tiles/Block43.png");
}
.ui .sprite-grid button:nth-child(45) {
  background-image: url("/assets/tiles/Block44.png");
}
.ui .sprite-grid button:nth-child(46) {
  background-image: url("/assets/tiles/Block45.png");
}
.ui .sprite-grid button:nth-child(47) {
  background-image: url("/assets/tiles/Block46.png");
}
.ui .sprite-grid button:nth-child(48) {
  background-image: url("/assets/tiles/Block47.png");
}
.ui .sprite-grid button:nth-child(49) {
  background-image: url("/assets/tiles/Block48.png");
}
.ui .sprite-grid button:nth-child(50) {
  background-image: url("/assets/tiles/Block49.png");
}
.ui .sprite-grid button:nth-child(51) {
  background-image: url("/assets/tiles/Block50.png");
}
.ui .sprite-grid button:nth-child(52) {
  background-image: url("/assets/tiles/Block51.png");
}
.ui .sprite-grid button:nth-child(53) {
  background-image: url("/assets/tiles/Block52.png");
}
.ui .sprite-grid button:nth-child(54) {
  background-image: url("/assets/tiles/Block53.png");
}
.ui .sprite-grid button:nth-child(55) {
  background-image: url("/assets/tiles/Block54.png");
}
.ui .sprite-grid button:nth-child(56) {
  background-image: url("/assets/tiles/Block55.png");
}
.ui .sprite-grid button:nth-child(57) {
  background-image: url("/assets/tiles/Block56.png");
}
.ui .sprite-grid button:nth-child(58) {
  background-image: url("/assets/tiles/Block57.png");
}
.ui .sprite-grid button:nth-child(59) {
  background-image: url("/assets/tiles/Block58.png");
}
.ui .sprite-grid button:nth-child(60) {
  background-image: url("/assets/tiles/Block59.png");
}
.ui .sprite-grid button:nth-child(61) {
  background-image: url("/assets/tiles/Block60.png");
}
.ui .sprite-grid button:nth-child(62) {
  background-image: url("/assets/tiles/Block61.png");
}
.ui .sprite-grid button:nth-child(63) {
  background-image: url("/assets/tiles/Block62.png");
}
.ui .sprite-grid button:nth-child(64) {
  background-image: url("/assets/tiles/Block63.png");
}
.ui .sprite-grid button:nth-child(65) {
  background-image: url("/assets/tiles/Block64.png");
}
.ui .sprite-grid button:nth-child(66) {
  background-image: url("/assets/tiles/Block65.png");
}
.ui .sprite-grid button:nth-child(67) {
  background-image: url("/assets/tiles/Block66.png");
}
.ui .sprite-grid button:nth-child(68) {
  background-image: url("/assets/tiles/Block67.png");
}
.ui .sprite-grid button:nth-child(69) {
  background-image: url("/assets/tiles/Block68.png");
}
.ui .sprite-grid button:nth-child(70) {
  background-image: url("/assets/tiles/Block69.png");
}
.ui .sprite-grid button:nth-child(71) {
  background-image: url("/assets/tiles/Block70.png");
}
.ui .sprite-grid button:nth-child(72) {
  background-image: url("/assets/tiles/Block71.png");
}
.ui .sprite-grid button:nth-child(73) {
  background-image: url("/assets/tiles/Block72.png");
}
.ui .sprite-grid button:nth-child(74) {
  background-image: url("/assets/tiles/Block73.png");
}
.ui .sprite-grid button:nth-child(75) {
  background-image: url("/assets/tiles/Block74.png");
}
.ui .sprite-grid button:nth-child(76) {
  background-image: url("/assets/tiles/Block75.png");
}
.ui .sprite-grid button:nth-child(77) {
  background-image: url("/assets/tiles/Block76.png");
}
.ui .sprite-grid button:nth-child(78) {
  background-image: url("/assets/tiles/Block77.png");
}
.ui .sprite-grid button:nth-child(79) {
  background-image: url("/assets/tiles/Block78.png");
}
.ui .sprite-grid button:nth-child(80) {
  background-image: url("/assets/tiles/Block79.png");
}
.ui .sprite-grid button:nth-child(81) {
  background-image: url("/assets/tiles/Block80.png");
}
.ui .sprite-grid button:nth-child(82) {
  background-image: url("/assets/tiles/Block81.png");
}
.ui .sprite-grid button:nth-child(83) {
  background-image: url("/assets/tiles/Block82.png");
}
.ui .sprite-grid button:nth-child(84) {
  background-image: url("/assets/tiles/Block83.png");
}
.ui .sprite-grid button:nth-child(85) {
  background-image: url("/assets/tiles/Block84.png");
}
.ui .sprite-grid button:nth-child(86) {
  background-image: url("/assets/tiles/Block85.png");
}
.ui .sprite-grid button:nth-child(87) {
  background-image: url("/assets/tiles/Block86.png");
}
.ui .sprite-grid button:nth-child(88) {
  background-image: url("/assets/tiles/Block87.png");
}
.ui .sprite-grid button:nth-child(89) {
  background-image: url("/assets/tiles/Block88.png");
}
.ui .sprite-grid button:nth-child(90) {
  background-image: url("/assets/tiles/Block89.png");
}
.ui .sprite-grid button:nth-child(91) {
  background-image: url("/assets/tiles/Block90.png");
}
.ui .sprite-grid button:nth-child(92) {
  background-image: url("/assets/tiles/Block91.png");
}
.ui .sprite-grid button:nth-child(93) {
  background-image: url("/assets/tiles/Block92.png");
}
.ui .sprite-grid button:nth-child(94) {
  background-image: url("/assets/tiles/Block93.png");
}
.ui .sprite-grid button:nth-child(95) {
  background-image: url("/assets/tiles/Block94.png");
}
.ui .sprite-grid button:nth-child(96) {
  background-image: url("/assets/tiles/Block95.png");
}
.ui .sprite-grid button:nth-child(97) {
  background-image: url("/assets/tiles/Block96.png");
}
.ui .sprite-grid button:nth-child(98) {
  background-image: url("/assets/tiles/Block97.png");
}
.ui .sprite-grid button:nth-child(99) {
  background-image: url("/assets/tiles/Block98.png");
}
.ui .sprite-grid button:nth-child(100) {
  background-image: url("/assets/tiles/Block99.png");
}
.ui .sprite-grid button:nth-child(101) {
  background-image: url("/assets/tiles/Block100.png");
}
.ui .sprite-grid button:nth-child(102) {
  background-image: url("/assets/tiles/Block101.png");
}
.ui .sprite-grid button:nth-child(103) {
  background-image: url("/assets/tiles/Block102.png");
}
.ui .sprite-grid button:nth-child(104) {
  background-image: url("/assets/tiles/Block103.png");
}
.ui .sprite-grid button:nth-child(105) {
  background-image: url("/assets/tiles/Block104.png");
}
.ui .sprite-grid button:nth-child(106) {
  background-image: url("/assets/tiles/Block105.png");
}
.ui .sprite-grid button:nth-child(107) {
  background-image: url("/assets/tiles/Block106.png");
}
.ui .sprite-grid button:nth-child(108) {
  background-image: url("/assets/tiles/Block107.png");
}
.ui .sprite-grid button:nth-child(109) {
  background-image: url("/assets/tiles/Block108.png");
}
.ui .sprite-grid button:nth-child(110) {
  background-image: url("/assets/tiles/Block109.png");
}
.ui .sprite-grid button:nth-child(111) {
  background-image: url("/assets/tiles/Block110.png");
}
.ui .sprite-grid button:nth-child(112) {
  background-image: url("/assets/tiles/Block111.png");
}
.ui .sprite-grid button:nth-child(113) {
  background-image: url("/assets/tiles/Block112.png");
}
.ui .sprite-grid button:nth-child(114) {
  background-image: url("/assets/tiles/Block113.png");
}
.ui .sprite-grid button:nth-child(115) {
  background-image: url("/assets/tiles/Block114.png");
}
.ui .sprite-grid button:nth-child(116) {
  background-image: url("/assets/tiles/Block115.png");
}
.ui .sprite-grid button:nth-child(117) {
  background-image: url("/assets/tiles/Block116.png");
}
.ui .sprite-grid button:nth-child(118) {
  background-image: url("/assets/tiles/Block117.png");
}
.ui .sprite-grid button:nth-child(119) {
  background-image: url("/assets/tiles/Block118.png");
}
.ui .sprite-grid button:nth-child(120) {
  background-image: url("/assets/tiles/Block119.png");
}
.ui .sprite-grid button:nth-child(121) {
  background-image: url("/assets/tiles/Block120.png");
}
.ui .sprite-grid button:nth-child(122) {
  background-image: url("/assets/tiles/Block121.png");
}
.ui .sprite-grid button:nth-child(123) {
  background-image: url("/assets/tiles/Block122.png");
}
.ui .sprite-grid button:nth-child(124) {
  background-image: url("/assets/tiles/Block123.png");
}
.ui .sprite-grid button:nth-child(125) {
  background-image: url("/assets/tiles/Block124.png");
}
.ui .sprite-grid button:nth-child(126) {
  background-image: url("/assets/tiles/Block125.png");
}
.ui .sprite-grid button:nth-child(127) {
  background-image: url("/assets/tiles/Block126.png");
}
.ui .sprite-grid button:nth-child(128) {
  background-image: url("/assets/tiles/Block127.png");
}
.ui .sprite-grid button:nth-child(129) {
  background-image: url("/assets/tiles/Block128.png");
}
.ui .sprite-grid button:nth-child(130) {
  background-image: url("/assets/tiles/Block129.png");
}
.ui .sprite-grid button:nth-child(131) {
  background-image: url("/assets/tiles/Block130.png");
}
.ui .sprite-grid button:nth-child(132) {
  background-image: url("/assets/tiles/Block131.png");
}
.ui .sprite-grid button:nth-child(133) {
  background-image: url("/assets/tiles/Block132.png");
}
.ui .sprite-grid button:nth-child(134) {
  background-image: url("/assets/tiles/Block133.png");
}
.ui .sprite-grid button:nth-child(135) {
  background-image: url("/assets/tiles/Block134.png");
}
.ui .sprite-grid button:nth-child(136) {
  background-image: url("/assets/tiles/Block135.png");
}
.ui .sprite-grid button:nth-child(137) {
  background-image: url("/assets/tiles/Block136.png");
}
.ui .sprite-grid button:nth-child(138) {
  background-image: url("/assets/tiles/Block137.png");
}
.ui .sprite-grid button:nth-child(139) {
  background-image: url("/assets/tiles/Block138.png");
}
.ui .sprite-grid button:nth-child(140) {
  background-image: url("/assets/tiles/Block139.png");
}
.ui .sprite-grid button:nth-child(141) {
  background-image: url("/assets/tiles/Block140.png");
}
.ui .sprite-grid button:nth-child(142) {
  background-image: url("/assets/tiles/Block141.png");
}
.ui .sprite-grid button:nth-child(143) {
  background-image: url("/assets/tiles/Block142.png");
}
.ui .sprite-grid button:nth-child(144) {
  background-image: url("/assets/tiles/Block143.png");
}
.ui .sprite-grid button:nth-child(145) {
  background-image: url("/assets/tiles/Block144.png");
}
.ui .sprite-grid button:nth-child(146) {
  background-image: url("/assets/tiles/Block145.png");
}
.ui .sprite-grid button:nth-child(147) {
  background-image: url("/assets/tiles/Block146.png");
}
.ui .sprite-grid button:nth-child(148) {
  background-image: url("/assets/tiles/Block147.png");
}
.ui .sprite-grid button:nth-child(149) {
  background-image: url("/assets/tiles/Block148.png");
}
.ui .sprite-grid button:nth-child(150) {
  background-image: url("/assets/tiles/Block149.png");
}
.ui .sprite-grid button:nth-child(151) {
  background-image: url("/assets/tiles/Block150.png");
}
.ui .sprite-grid button:nth-child(152) {
  background-image: url("/assets/tiles/Block151.png");
}
.ui .sprite-grid button:nth-child(153) {
  background-image: url("/assets/tiles/Block152.png");
}
.ui .sprite-grid button:nth-child(154) {
  background-image: url("/assets/tiles/Block153.png");
}
.ui .sprite-grid button:nth-child(155) {
  background-image: url("/assets/tiles/Block154.png");
}
.ui .sprite-grid button:nth-child(156) {
  background-image: url("/assets/tiles/Block155.png");
}
.ui .sprite-grid button:nth-child(157) {
  background-image: url("/assets/tiles/Block156.png");
}
.ui .sprite-grid button:nth-child(158) {
  background-image: url("/assets/tiles/Block157.png");
}
.ui .sprite-grid button:nth-child(159) {
  background-image: url("/assets/tiles/Block158.png");
}
.ui .sprite-grid button:nth-child(160) {
  background-image: url("/assets/tiles/Block159.png");
}
.ui .sprite-grid button:nth-child(161) {
  background-image: url("/assets/tiles/Block160.png");
}
.ui .sprite-grid button:nth-child(162) {
  background-image: url("/assets/tiles/Block161.png");
}
.ui .sprite-grid button:nth-child(163) {
  background-image: url("/assets/tiles/Block162.png");
}
.ui .sprite-grid button:nth-child(164) {
  background-image: url("/assets/tiles/Block163.png");
}
.ui .sprite-grid button:nth-child(165) {
  background-image: url("/assets/tiles/Block164.png");
}
.ui .sprite-grid button:nth-child(166) {
  background-image: url("/assets/tiles/Block165.png");
}
.ui .sprite-grid button:nth-child(167) {
  background-image: url("/assets/tiles/Block166.png");
}
.ui .sprite-grid button:nth-child(168) {
  background-image: url("/assets/tiles/Block167.png");
}
.ui .sprite-grid button:nth-child(169) {
  background-image: url("/assets/tiles/Block168.png");
}
.ui .sprite-grid button:nth-child(170) {
  background-image: url("/assets/tiles/Block169.png");
}
.ui .sprite-grid button:nth-child(171) {
  background-image: url("/assets/tiles/Block170.png");
}
.ui .sprite-grid button:nth-child(172) {
  background-image: url("/assets/tiles/Block171.png");
}
.ui .sprite-grid button:nth-child(173) {
  background-image: url("/assets/tiles/Block172.png");
}
.ui .sprite-grid button:nth-child(174) {
  background-image: url("/assets/tiles/Block173.png");
}
.ui .sprite-grid button:nth-child(175) {
  background-image: url("/assets/tiles/Block174.png");
}
.ui .sprite-grid button:nth-child(176) {
  background-image: url("/assets/tiles/Block175.png");
}
.ui .sprite-grid button:nth-child(177) {
  background-image: url("/assets/tiles/Block176.png");
}
.ui .sprite-grid button:nth-child(178) {
  background-image: url("/assets/tiles/Block177.png");
}
.ui .sprite-grid button:nth-child(179) {
  background-image: url("/assets/tiles/Block178.png");
}
.ui .sprite-grid button:nth-child(180) {
  background-image: url("/assets/tiles/Block179.png");
}
.ui .sprite-grid button:nth-child(181) {
  background-image: url("/assets/tiles/Block180.png");
}
.ui .sprite-grid button:nth-child(182) {
  background-image: url("/assets/tiles/Block181.png");
}
.ui .sprite-grid button:nth-child(183) {
  background-image: url("/assets/tiles/Block182.png");
}
.ui .sprite-grid button:nth-child(184) {
  background-image: url("/assets/tiles/Block183.png");
}
.ui .sprite-grid button:nth-child(185) {
  background-image: url("/assets/tiles/Block184.png");
}
.ui .sprite-grid button:nth-child(186) {
  background-image: url("/assets/tiles/Block185.png");
}
.ui .sprite-grid button:nth-child(187) {
  background-image: url("/assets/tiles/Block186.png");
}
.ui .sprite-grid button:nth-child(188) {
  background-image: url("/assets/tiles/Block187.png");
}
.ui .sprite-grid button:nth-child(189) {
  background-image: url("/assets/tiles/Block188.png");
}
.ui .sprite-grid button:nth-child(190) {
  background-image: url("/assets/tiles/Block189.png");
}
.ui .sprite-grid button:nth-child(191) {
  background-image: url("/assets/tiles/Block190.png");
}
.ui .sprite-grid button:nth-child(192) {
  background-image: url("/assets/tiles/Block191.png");
}
.ui .sprite-grid button:nth-child(193) {
  background-image: url("/assets/tiles/Block192.png");
}
.ui .sprite-grid button:nth-child(194) {
  background-image: url("/assets/tiles/Block193.png");
}
.ui .sprite-grid button:nth-child(195) {
  background-image: url("/assets/tiles/Block194.png");
}
.ui .sprite-grid button:nth-child(196) {
  background-image: url("/assets/tiles/Block195.png");
}
.ui .sprite-grid button:nth-child(197) {
  background-image: url("/assets/tiles/Block196.png");
}
.ui .sprite-grid button:nth-child(198) {
  background-image: url("/assets/tiles/Block197.png");
}
.ui .sprite-grid button:nth-child(199) {
  background-image: url("/assets/tiles/Block198.png");
}
.ui .sprite-grid button:nth-child(200) {
  background-image: url("/assets/tiles/Block199.png");
}
.ui .sprite-grid button:nth-child(201) {
  background-image: url("/assets/tiles/Block200.png");
}
.ui .sprite-grid button:nth-child(202) {
  background-image: url("/assets/tiles/Block201.png");
}
.ui .sprite-grid button:nth-child(203) {
  background-image: url("/assets/tiles/Block202.png");
}
.ui .sprite-grid button:nth-child(204) {
  background-image: url("/assets/tiles/Block203.png");
}
.ui .sprite-grid button:nth-child(205) {
  background-image: url("/assets/tiles/Block204.png");
}
.ui .sprite-grid button:nth-child(206) {
  background-image: url("/assets/tiles/Block205.png");
}
.ui .sprite-grid button:nth-child(207) {
  background-image: url("/assets/tiles/Block206.png");
}
.ui .sprite-grid button:nth-child(208) {
  background-image: url("/assets/tiles/Block207.png");
}
.ui .sprite-grid button:nth-child(209) {
  background-image: url("/assets/tiles/Block208.png");
}
.ui .sprite-grid button:nth-child(210) {
  background-image: url("/assets/tiles/Block209.png");
}
.ui .sprite-grid button:nth-child(211) {
  background-image: url("/assets/tiles/Block210.png");
}
.ui .sprite-grid button:nth-child(212) {
  background-image: url("/assets/tiles/Block211.png");
}
.ui .sprite-grid button:nth-child(213) {
  background-image: url("/assets/tiles/Block212.png");
}
.ui .sprite-grid button:nth-child(214) {
  background-image: url("/assets/tiles/Block213.png");
}
.ui .sprite-grid button:nth-child(215) {
  background-image: url("/assets/tiles/Block214.png");
}
.ui .sprite-grid button:nth-child(216) {
  background-image: url("/assets/tiles/Block215.png");
}
.ui .sprite-grid button:nth-child(217) {
  background-image: url("/assets/tiles/Block216.png");
}
.ui .sprite-grid button:nth-child(218) {
  background-image: url("/assets/tiles/Block217.png");
}
.ui .sprite-grid button:nth-child(219) {
  background-image: url("/assets/tiles/Block218.png");
}
.ui .sprite-grid button:nth-child(220) {
  background-image: url("/assets/tiles/Block219.png");
}
.ui .sprite-grid button:nth-child(221) {
  background-image: url("/assets/tiles/Block220.png");
}
.ui .sprite-grid button:nth-child(222) {
  background-image: url("/assets/tiles/Block221.png");
}
.ui .sprite-grid button:nth-child(223) {
  background-image: url("/assets/tiles/Block222.png");
}
.ui .sprite-grid button:nth-child(224) {
  background-image: url("/assets/tiles/Block223.png");
}
.ui .sprite-grid button:nth-child(225) {
  background-image: url("/assets/tiles/Block224.png");
}
.ui .sprite-grid button:nth-child(226) {
  background-image: url("/assets/tiles/Block225.png");
}
.ui .sprite-grid button:nth-child(227) {
  background-image: url("/assets/tiles/Block226.png");
}
.ui .sprite-grid button:nth-child(228) {
  background-image: url("/assets/tiles/Block227.png");
}
.ui .sprite-grid button:nth-child(229) {
  background-image: url("/assets/tiles/Block228.png");
}
.ui .sprite-grid button:nth-child(230) {
  background-image: url("/assets/tiles/Block229.png");
}
.ui .sprite-grid button:nth-child(231) {
  background-image: url("/assets/tiles/Block230.png");
}
.ui .sprite-grid button:nth-child(232) {
  background-image: url("/assets/tiles/Block231.png");
}
.ui .sprite-grid button:nth-child(233) {
  background-image: url("/assets/tiles/Block232.png");
}
.ui .sprite-grid button:nth-child(234) {
  background-image: url("/assets/tiles/Block233.png");
}
.ui .sprite-grid button:nth-child(235) {
  background-image: url("/assets/tiles/Block234.png");
}
.ui .sprite-grid button:nth-child(236) {
  background-image: url("/assets/tiles/Block235.png");
}
.ui .sprite-grid button:nth-child(237) {
  background-image: url("/assets/tiles/Block236.png");
}
.ui .sprite-grid button:nth-child(238) {
  background-image: url("/assets/tiles/Block237.png");
}
.ui .sprite-grid button:nth-child(239) {
  background-image: url("/assets/tiles/Block238.png");
}
.ui .sprite-grid button:nth-child(240) {
  background-image: url("/assets/tiles/Block239.png");
}
.ui .sprite-grid button:nth-child(241) {
  background-image: url("/assets/tiles/Block240.png");
}
.ui .sprite-grid button:nth-child(242) {
  background-image: url("/assets/tiles/Block241.png");
}
.ui .sprite-grid button:nth-child(243) {
  background-image: url("/assets/tiles/Block242.png");
}
.ui .sprite-grid button:nth-child(244) {
  background-image: url("/assets/tiles/Block243.png");
}
.ui .sprite-grid button:nth-child(245) {
  background-image: url("/assets/tiles/Block244.png");
}
.ui .sprite-grid button:nth-child(246) {
  background-image: url("/assets/tiles/Block245.png");
}
.ui .sprite-grid button:nth-child(247) {
  background-image: url("/assets/tiles/Block246.png");
}
.ui .sprite-grid button:nth-child(248) {
  background-image: url("/assets/tiles/Block247.png");
}
.ui .sprite-grid button:nth-child(249) {
  background-image: url("/assets/tiles/Block248.png");
}
.ui .sprite-grid button:nth-child(250) {
  background-image: url("/assets/tiles/Block249.png");
}
.ui .sprite-grid button:nth-child(251) {
  background-image: url("/assets/tiles/Block250.png");
}
.ui .sprite-grid button:nth-child(252) {
  background-image: url("/assets/tiles/Block251.png");
}
.ui .sprite-grid button:nth-child(253) {
  background-image: url("/assets/tiles/Block252.png");
}
.ui .sprite-grid button:nth-child(254) {
  background-image: url("/assets/tiles/Block253.png");
}
.ui .sprite-grid button:nth-child(255) {
  background-image: url("/assets/tiles/Block254.png");
}
.ui .sprite-grid button:nth-child(256) {
  background-image: url("/assets/tiles/Block255.png");
}
.ui .sprite-grid button:nth-child(257) {
  background-image: url("/assets/tiles/Block256.png");
}
.ui .sprite-grid button:nth-child(258) {
  background-image: url("/assets/tiles/Block257.png");
}
.ui .sprite-grid button:nth-child(259) {
  background-image: url("/assets/tiles/Block258.png");
}
.ui .sprite-grid button:nth-child(260) {
  background-image: url("/assets/tiles/Block259.png");
}
.ui .sprite-grid button:nth-child(261) {
  background-image: url("/assets/tiles/Block260.png");
}
.ui .sprite-grid button:nth-child(262) {
  background-image: url("/assets/tiles/Block261.png");
}
.ui .sprite-grid button:nth-child(263) {
  background-image: url("/assets/tiles/Block262.png");
}
.ui .sprite-grid button:nth-child(264) {
  background-image: url("/assets/tiles/Block263.png");
}
.ui .sprite-grid button:nth-child(265) {
  background-image: url("/assets/tiles/Block264.png");
}
.ui .sprite-grid button:nth-child(266) {
  background-image: url("/assets/tiles/Block265.png");
}
.ui .sprite-grid button:nth-child(267) {
  background-image: url("/assets/tiles/Block266.png");
}
.ui .sprite-grid button:nth-child(268) {
  background-image: url("/assets/tiles/Block267.png");
}
.ui .sprite-grid button:nth-child(269) {
  background-image: url("/assets/tiles/Block268.png");
}
.ui .sprite-grid button:nth-child(270) {
  background-image: url("/assets/tiles/Block269.png");
}
.ui .sprite-grid button:nth-child(271) {
  background-image: url("/assets/tiles/Block270.png");
}
.ui .sprite-grid button:nth-child(272) {
  background-image: url("/assets/tiles/Block271.png");
}
.ui .sprite-grid button:nth-child(273) {
  background-image: url("/assets/tiles/Block272.png");
}
.ui .sprite-grid button:nth-child(274) {
  background-image: url("/assets/tiles/Block273.png");
}
.ui .sprite-grid button:nth-child(275) {
  background-image: url("/assets/tiles/Block274.png");
}
.ui .sprite-grid button:nth-child(276) {
  background-image: url("/assets/tiles/Block275.png");
}
.ui .row {
  margin: 5px;
}

ul.key {
  list-style: none;
  position: relative;
  padding: 6px 0 0 25px;
}
ul.key li {
  line-height: 50px;
  vertical-align: middle;
}
ul.key li:before {
  background-position: right top, right bottom;
  background-repeat: no-repeat, no-repeat;
  background-size: 80%;
  content: "";
  width: 20px;
  height: 30px;
  position: absolute;
  left: 0;
  top: 15px;
}

li.arrow:before {
  background-image: url(/assets/tiles/Block14.png), url(/assets/tiles/Block19.png);
}/*# sourceMappingURL=style.css.map */